body{
	font-size:15px;
	background: #eaeaea;
	color: black;
	-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;users-select:none;
}


.ui-page {
    background: white;
	color: black;
}

.ul {
    background: #000000;
	color: white;
}

.ui-page .ui-header {
    background: #000000	;
    color: white
}

.ui-page .ui-footer
{
	background: #000000;
	color:white
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	background-color: #f1f1c1;
    font-size: 12
    px;
 	padding: 20px;
    max-height: 150px;
    max-width: 150px;

}

th {
  background: #333;
  color: white;
  font-weight: bold;
}



/*.spinner{
  width: 80px;
  height: 80px;
  border:  2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  position:  absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }

}*/
